.odd-number {
  font-family: Verdana, DejaVu Sans, sans-serif;
  background-color: pink;
}

.second-element {
  color: blue;
  font-size: 36px;
}
.third-element {
  font-size: 24px;
}
.fourth-element {
  background-color: greenyellow;
  font-size: 24px;
  font-weight: bold;
}
